@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,300;1,400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* background-image: url('./assets/vecteezy_outlined-school-supplies-seamless-pattern_7395007.jpg');
  background-repeat: repeat-y */
  background-color: #EDF5E1;
};


.Z1Dz7b {
  color: #01875f;
  fill: #01875f;
  stop-color: #01875f;
}

.Wi7KIe {
  fill: #f1f3f4;
  stop-color: #f1f3f4;
}